.project {
  display: flex;
  flex-direction: column; /* Stack children vertically on small screens */
  align-items: center; /* Center items horizontally */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem; /* Add some margin around the project */
  padding: 1rem; /* Add padding inside the project */
  background-color: #fff; /* Assuming a light theme for the project card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for depth */
}

.project .project-title {
  font-size: 2em; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight for the title */
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Text shadow for depth */
  margin-bottom: 1rem; /* Space between title and image */
}

.project img {
  width: 100%; /* Set a percentage width for responsiveness */
  max-width: 300px; /* Maximum width for all images */
  height: auto; /* Maintain aspect ratio */
  border: 3px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  margin-bottom: 1rem; /* Space between image and text */
}

.project p {
  color: #666;
  text-align: center; /* Center-align text for readability */
  padding: 0 1rem; /* Padding for text */
}

.project a {
  display: block;
  padding: 10px 15px;
  margin: 10px 0; /* Margin for spacing around buttons */
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none; /* Removing border */
}

.project a:hover {
  background-color: #0056b3;
  text-decoration: none; /* No underline on hover */
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
  .project {
    flex-direction: row; /* Side by side layout for larger screens */
    justify-content: flex-start; /* Align to the start of the project card */
    align-items: flex-start; /* Align to the start vertically */
  }

  .project .project-title {
    width: 100%; /* Full width */
    text-align: left; /* Align text to the left */
    margin-bottom: 0; /* Reset bottom margin */
  }

  .project img {
    display: block; /* Ensures the margin auto is effective for centering */
    width: 300px; /* Set a fixed width for all images */
    height: 200px; /* Set a fixed height for all images */
    max-width: 400px; /* Max width */
    height: 200px; /* Fixed height for the container */
    margin: auto; /* Centers the image in the allotted space */
    margin-bottom: 1rem; /* Space between image and text */
  }
  

  .project p {
    text-align: left; /* Align text to the left */
    padding-right: 20px; /* Padding to not touch the borders */
  }

  .project a {
    margin-top: auto; /* Push buttons to the bottom */
    width: auto; /* Auto width for buttons */
    padding: 10px 20px; /* Padding for buttons */
  }
}
